.wiki-container {
}

.main-col {
    width: 70%;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.left-col {
    float: left;
    width: 15%;
    border-style: solid;
    padding-right: 10px;
}

.depth {
    text-align: center;
}

.right-col {
    float: right;
    width: 15%;
    border-style: solid;
    padding-left: 10px;
}

